<html>
    <head>
        <title>Westagram</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='utf-8'>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <main id='mainContainer'>
            <article id='navContainer'>
                <nav id='navRowBar'>
                    <header>Westagram</header>
                    <i class="fas fa-search" id='searchIcon'></i>
                    <input id='mainSearchInput' type='text' placeholder="검색">
                    <section id='navBtns'>
                        <i class="fas fa-home"></i>
                        <i class="fas fa-location-arrow"></i>
                        <i class="far fa-plus-square"></i>
                        <i class="far fa-compass"></i>
                        <i class="far fa-heart"></i>
                        <div id='profileImg'></div>
                    </section>
                </nav>
            </article>
            <article id='bodyContainer'>
                <article id='feedContainer'>
                    <section id='friendsFeed'>
                        <ul>
                            <li>
                                <div id='friendImgBorder'>
                                    <div id='friendImg'></div>
                                </div>
                                <span>friends1</span>
                            </li>
                            <li>
                                <div id='friendImgBorder'>
                                    <div id='friendImg'></div>
                                </div>
                                <span>friends1</span>
                            </li>
                            <li>
                                <div id='friendImgBorder'>
                                    <div id='friendImg'></div>
                                </div>
                                <span>friends1</span>
                            </li>
                        </ul>
                    </section>
                    <section id='feeds'>
                        <section id='feedProfile'>

                        </section>
                        <section id='feedImg'>

                        </section>
                        <section id='feedBtns'>

                        </section>
                        <section id='feedComments'>

                        </section>
                        <section id='inputComments'>

                        </section>
                    </section>
                </article>
                <article id='sideContainer'>
                    <section id='profileSwap'>

                    </section>
                    <section id='recommendFriends'>

                    </section>
                    <section id='sideFooter'>
                        
                    </section>

                </article>
            </article>
        </main>
    </body>
    <script src='../js/mainJS.js'></script>
</html>